:root {
  --yellow: #e5c07b;
  --teal: #73bbb2;
  --blue: #67b3cb;
  --purple-red: #b05279;
  --red: #e06c75;
  --pink-orange: #ff978e;
  --green: #98c379;
  --orange: #ffad88;

  --blue-grey: #7f848e;
  --light-yellow: #f2e5d0;
  --light-grey: #d4d4d4;
  --bright-pink: #e2637d;
  --light-green: #dee2a8;
  --bright-red: #f44747;
}
